{% extends "base.html" %}
{% block title %}Login{% endblock %}
{% block content %}

<p class="page-title">Login</p>
<div class="form-container">
    <form action="/login" method="post">
        {{ form.hidden_tag() }}

        <div class="form-group">
            {{ form.email.label }}
            {{ form.email(class="form-control") }}
            {% for error in form.email.errors %}
            <span class="error">{{ error }}</span>
            {% endfor %}
        </div>

        <div class="form-group">
            {{ form.password.label }}
            {{ form.password(class="form-control") }}
            {% for error in form.password.errors %}
            <span class="error">{{ error }}</span>
            {% endfor %}
        </div>

        <div class="form-group">
            {{ form.submit(class="btn btn-primary") }}
        </div>
    </form>
    <a href="/reset" class="forgot-password">Forgot Password?</a>
</div>



{% endblock %}